#page-home {
  width: 90%;
  height: 100%;
  position: relative;
  float: right;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.welcome {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.welcome h1 {font-size: large;}
.welcome p {font-size: x-small;}

.tabla {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

.tabla th, .tabla td {
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tabla tr:hover {
  background-color: #60d3db;
}

.lst {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.line {
  text-align: left;
  border-right: 1px solid #ddd;
}

.lst > div {
  margin: 1rem;
  width: 45%;
}

table {
  width: 100%;
}

td button {
  margin: 2px;
  padding: 3px;
  font-size: 12px;
}

.info {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.creat-request {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.creat-request form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.form-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}